/*  Contaco  */
.titulo{
    font-weight: 100;
}

.form {
    margin-top: 15px;
    margin-left: 10px;

     h2 {
        margin-left: 10px;
    }
    
    &__N {
        margin-bottom: 5px;
    }
    
    &__NT {
        margin-top: 5px;
        margin-left: 10px;
    }
    
    &__E {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    &__C {
        margin-top: 5px;
        margin-left: 10px;
    }

    .texto {
        max-width: 100%;
    }
}

