* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

header {
    background-image: url(https://images.squarespace-cdn.com/content/v1/5b297193e17ba39d63407ff1/1595300169063-5C19IG7C0I871K45JXGH/BANNER-EN-OSCURO-FRUTAS-SECAS.jpg?format=2500w);
    background-position: center;
    background-size: 100vw 100vh;
    padding-top: 10px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Updock', cursive;
}