/* Nosotros */
.contenedor__Nosotros {
    padding: 0;
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
}

.contenedor__laura {
    top: 10px;
}

.contenedor__fran {
    top: 10px;
    margin-left: 10px;
}

.contenedor__trabajo {
    margin-left: 10px;
}