<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros Lauvi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Oleo+Script:wght@700&family=Updock&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>

    <!--header-->
    <header>
        <h1>Lauvi</h1>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <a href="../index.html" class="enlace"> <img src="../img/Logo.jpeg" alt="Logo" class="logo"></a>
            <ul>
                <li><a href="../index.html" class="activo">Inicio</a></li>
                <li><a href="../views/productos.html">Productos</a></li>
                <li><a href="../views/nosotros.html">Nosotros</a></li>
                <li><a href="../views/preguntas.html">Preguntas</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>


    <!-- Informacion de nosotros -->

    <main>
        <div class="contenedor__Nosotros">
            <div class="contenedor__laura">
                <h2>Laura</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem dolor aliquam deserunt,
                    atque aliquid ullam, nobis quam voluptatem esse at fugit earum,
                    laboriosam! Molestias repellendus inventore dicta asperiores debitis?

                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime laudantium suscipit iste quidem,
                    obcaecati quam ducimus error magnam, necessitatibus incidunt quis nihil laborum voluptate expedita
                    minus.
                    Illum dolor voluptatibus exercitationem?</p>
                </p>
            </div>

            <div class="contenedor__fran">
                <h2>Francisco</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem dolor aliquam deserunt,
                    atque aliquid ullam, nobis quam voluptatem esse at fugit earum,
                    laboriosam! Molestias repellendus inventore dicta asperiores debitis?
                </p>
            </div>

            <div class="contenedor__trabajo">
                <h2>Como trabajamos</h2>
                <img src="http://via.placeholder.com/200x200" alt="imagen">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Sapiente at ab ad nihil amet! Ut, sint rerum error corrupti libero
                    minus maxime aspernatur aut esse impedit temporibus dolore ipsam saepe.
                </p>
            </div>

        </div>
    </main>


    <!--Footer-->
    <footer>
        <div class="contenedor2">
            <div class="col1">
                <h2>Contacto</h2>
                <p>Tel.: Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Email: francrema00@gmail.com</p>

            </div>

            <div class="col2">
                <ul>
                    <h2>Social</h2>
                    <div class="redes">
                        <a href="https://www.instagram.com/lau.vi.deshidratados/" target="_blank" class="instagram"> <i
                                class="fab fa-instagram"></i></a>

                        <a href="#" class="whatsapp"> <i class="fab fa-whatsapp"></i></a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="copy">
            <hr>
            <p>Todos los derechos reservados © 2021 <b>Francisco Crema</b></p>
        </div>

    </footer>
</body>

</html>