<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros Lauvi</title>
    <meta name="description" content="Un poco sobre nosotros, y nuestro trabajo">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Oleo+Script:wght@700&family=Updock&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!--header-->
    <header>
        <h1 class="titulo">Lauvi</h1>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <a href="../index.html" class="enlace"> <img src="../img/Logo.jpeg" alt="Logo" class="logo"></a>
            <ul>
                <li><a href="../index.html" class="activo">Inicio</a></li>
                <li><a href="../views/productos.html">Productos</a></li>
                <li><a href="../views/nosotros.html">Nosotros</a></li>
                <li><a href="../views/preguntas.html">Preguntas</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>


    <!-- Informacion de nosotros -->

    <main>
        <div class="contenedor__Nosotros">
            <div class="contenedor__laura">
                <h2>Laura</h2>
                <p>Mi nombre es Laura Lunelli, durante toda mi vida me intereso el tema de la nutrición, y en mi camino
                    evolutivo fui descubriendo distintas formas de cocinar y nutrirnos para que así el alimento sea
                    parte de nuestra medicina.</p> <br>

                <p> De esta manera, buscando y estudiando, descubrí esta técnica de la deshidratación que no es nueva,
                    pero que con estos aparatos eléctricos logramos realizarla en forma más controlada, y con ello los
                    alimentos potencian sus sabores y mantienen vivas las enzimas ayudándonos de esta manera a
                    digerirlos mejor.</p>
            </div>

            <div class="contenedor__fran">
                <h2>Francisco</h2>
                <p>Mi nombre es Francisco Crema, soy hijo de Laura y ella me hizo conocer el mundo de la comida
                    deshidratada, y la verdad que se lo agradezco ya que me encanta poder comer las frutas de esta forma
                    saludable, como merienda, o después de entrenar, cuando estudio, así siempre.
                </p>
            </div>

            <div class="contenedor__trabajo">
                <h2>Como trabajamos</h2>
                <img src="../img/Trabajo.jpg" alt="imagen">
                <p><b>-Primer paso:</b> cortamos las frutas en rodajas, de no mas de 1cm.</p><br>

                <p><b>-Segundo paso:</b> las distribuimos en las distintas bandejas del deshidratador, encendiendo este
                    y dejándolo a una temperatura constante de 42°, consiguiendo mantener sus nutrientes y enzimas, así
                    se dejan durante 5hs y se dan vuelta, se continua deshidratando las horas necesarias dependiendo de
                    la fruta y según lo que deseemos en cuanto a su textura y flexibilidad.</p> <br>

                <p><b>-Tercer paso:</b> una vez terminado el proceso, se guardan en recipientes herméticos, donde pueden
                    mantenerse hasta tres meses o mas.</p>

                <p>En LAUVI deshidratamos: Manzanas, Peras, Frutillas, Arándanos, Limones, Naranjas, Bananas,
                    Berenjenas, Zucchini, Tomates.</p>
            </div>

        </div>
    </main>


    <!--Footer-->
    <footer>
        <div class="contenedor2">
            <div class="col1">
                <h2>Contacto</h2>
                <p>Tel.: +54 03413503667</p>
                <p>Email: francrema00@gmail.com</p>

            </div>

            <div class="col2">
                <ul>
                    <h2>Social</h2>
                    <div class="redes">
                        <a href="https://www.instagram.com/lau.vi.deshidratados/" target="_blank" class="instagram"> <i
                                class="fab fa-instagram"></i></a>

                        <a href="#" class="whatsapp"> <i class="fab fa-whatsapp"></i></a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="copy">
            <hr>
            <p>Todos los derechos reservados © 2021 <b>Francisco Crema</b></p>
        </div>

    </footer>
</body>

</html>