<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Lauvi</title>
    <meta name="description" content="Preguntas frecuentes de las personas">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Oleo+Script:wght@700&family=Updock&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!--header-->
    <header>
        <h1 class="titulo">Lauvi</h1>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <a href="../index.html" class="enlace"> <img src="../img/Logo.jpeg" alt="Logo" class="logo"></a>
            <ul>
                <li><a href="../index.html" class="activo">Inicio</a></li>
                <li><a href="../views/productos.html">Productos</a></li>
                <li><a href="../views/nosotros.html">Nosotros</a></li>
                <li><a href="../views/preguntas.html">Preguntas</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>



    <!-- Preguntas -->
    <main>
        <div class="info">

            <div class="info__preg1">
                <h2>Tienen alguna promocion?</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem dolor aliquam deserunt,
                    atque aliquid ullam, nobis quam voluptatem esse at fugit earum,
                    laboriosam! Molestias repellendus inventore dicta asperiores debitis?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi sit assumenda error voluptate
                    velit tempora provident,
                    perspiciatis iste consequuntur dolor! Eos blanditiis corporis a repudiandae odio officiis error
                    beatae ducimus.
                </p>
            </div>

            <div class="info__preg2">
                <h2>Se puede pedir al por mayor?</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem dolor aliquam deserunt,
                    atque aliquid ullam, nobis quam voluptatem esse at fugit earum,
                    laboriosam! Molestias repellendus inventore dicta asperiores debitis?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur vitae qui aut minima sequi?
                    Consectetur porro eligendi voluptate non,
                    accusamus corrupti quis, sunt dicta deserunt tenetur, aliquam placeat illo cupiditate!
                </p>
            </div>

            <div class="info__preg3">
                <h2>Tienen almendras? </h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem dolor aliquam deserunt,
                    atque aliquid ullam, nobis quam voluptatem esse at fugit earum,
                    laboriosam! Molestias repellendus inventore dicta asperiores debitis?
                </p>
            </div>

            <div class="info__preg4">
                <h2>Tienen stock de manzanas?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
                    obcaecati iure sapiente culpa sunt nisi repellendus ex unde! Dicta pariatur necessitatibus quo
                    distinctio error.
                    Nam nemo et beatae nulla animi!
                </p>
            </div>

            <div class="info__preg5">
                <h2>Se pueden usar las rodajas de narajas y limones deshidratadas en tragos?</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint,
                    modi perspiciatis velit tenetur aliquid id atque dolores sapiente labore,
                    officia accusantium laboriosam! Voluptatum natus accusantium debitis! Omnis deleniti sit quae.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quidem, officiis, odit
                    recusandae blanditiis dicta a porro quae sit, hic velit.
                    Neque laborum dolorem iure, ab quaerat temporibus libero officiis!
                </p>
            </div>

            <div class="info__preg6">
                <h2>Hacen envios a todo el pais?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
                    maxime! Facilis quibusdam, natus possimus eos maxime reprehenderit ratione magnam dolor,
                    debitis, iure quae aut mollitia sed similique! Accusamus, repudiandae ratione!
                </p>
            </div>

        </div>
    </main>

    <!--Footer-->
    <footer>
        <div class="contenedor2">
            <div class="col1">
                <h2>Contacto</h2>
                <p>Tel.: +54 03413503667</p>
                <p>Email: francrema00@gmail.com</p>

            </div>

            <div class="col2">
                <ul>
                    <h2>Social</h2>
                    <div class="redes">
                        <a href="https://www.instagram.com/lau.vi.deshidratados/" target="_blank" class="instagram"> <i
                                class="fab fa-instagram"></i></a>

                        <a href="#" class="whatsapp"> <i class="fab fa-whatsapp"></i></a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="copy">
            <hr>
            <p>Todos los derechos reservados © 2021 <b>Francisco Crema</b></p>
        </div>

    </footer>

</html>